main{
    background-image: url(g-about.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 500px;
    background-size: cover;
    position: fixed;
    

}
.container-1{
    position: relative;
    top: 80px;
}
.btn-1:hover{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    text-shadow: 2px rgb(25, 37, 25);
}
